$dark-shade: rgba(31, 32, 65, 1);
$purple: #BC9CFF;

.main-gray-background {
  background-color: #E5E5E5;
}

.column-380 {
  width: 380px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.cards-380-wrapper {
  width: 380px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px 30px 30px 30px;
  margin-bottom: 40px;
}

.cards-380-wrapper input {
  margin-bottom: 10px;
}

.cards-380-wrapper .cards-h1 {
  margin-bottom: 20px;
}

.cards-380-wrapper .ui-kit-right-text {
  bottom: 0;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31,32,65,.5);
}

.ui-kit-right-text-lowercase {
  text-transform: lowercase;
  font-weight: normal;
  font-size: 12px;
}

.cards-320-wrapper {
  width: 320px;
  height: 320px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px 30px 30px 30px;
}

.cards-h1 {
  margin-bottom: 20px;
  position: relative;
}

.purple-text {
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: $purple;
}

.register-bottom-text {
  font-size: 14px;
  line-height: 18px;
  color: #000000;
}

.noUi-horizontal .noUi-handle {
  right: -7px;
  top: -4px;
  position: absolute;
  width: 12px;
  height: 12px;
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
  border: 2px solid #FFFFFF;
  border-radius: 10px;
  box-shadow: none;
  -webkit-box-shadow: none;
}

.noUi-handle:before, .noUi-handle:after {
  content: "";
  display: none !important;
}