$dark-shade: rgba(31, 32, 65, 1);

.logo-wrapper {
  position: relative;
  left: 30px;
  top: 30px;
}

.logo {
  display: block;
  position: relative;
  width: 48px;
  height: 48px;
  border: 2px solid rgba($color: $dark-shade, $alpha: 0.25);
  border-radius: 50%;
  background-image: url(../img/logo/logo-left-side.svg);

}


