$dark-shade: rgba(31, 32, 65, 1);
$purple: #BC9CFF;

.head-margin {
  margin-bottom: 15px;
}

.head-margin-top {
  margin-top: 40px;
}

.form-elements-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 92px 141px;
}
.column-320 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.input-row {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input-320-wrapper {
  position: relative;
  width: 100%;
}

.input-150-wrapper {
  width: 150px;
  margin-bottom: 20px;
}

.input-row h3 {
  margin-bottom: 6px;
}

.input-266-wrapper {
  width: 266px;
  margin-bottom: 20px;
}

.text-field {
  width: 320px;
  background: #FFFFFF;
  border: 1px solid rgba($color: $dark-shade, $alpha: 0.25);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 9px 15px; 
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  margin: 0px 0px 20px 0px;  

		&_focus {
      border: 1px solid rgba($color: $dark-shade, $alpha: 0.5);      
		}
}

.text-field-150 {
  width: 150px;
  margin: 0;
}

.text-field-266 {
  width: 266px;
  margin: 0;
}

.text-field-150-wrapper {
  width: 150px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-field-266-wrapper {
  width: 266px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkbox-default {
  position: absolute;
  opacity: 0;
  width: 21px;
  height: 21px;
}

.checkbox-default+label {
  display: inline-flex;
  align-items: flex-start;
  user-select: none;
  width: 240px; // questionable
  color: rgba($color: $dark-shade, $alpha: 0.5);
}

.checkbox-default+label::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-top: 2px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid rgba($color: $dark-shade, $alpha: 0.25);
  border-radius: 4px;
  margin-right: 10px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.checkbox-default:checked+label::before {
  border-color: $purple;
  background-color: transparent;
  background-image: url("../img/checks/check-gradient.svg");
}

//**********

.radio-default {
  position: absolute;
  opacity: 0;
  width: 21px;
  height: 21px;
}

.radio-default+label {
  display: inline-flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  user-select: none;
  color: rgba($color: $dark-shade, $alpha: 0.5);  
  margin-right: 20px;
}

.radio-default+label::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid rgba($color: $dark-shade, $alpha: 0.25);
  border-radius: 50%;
  margin-right: 10px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.radio-default:checked+label::before {
  border-color: $purple;
  background-color: transparent;
  background-image: url("../img/radio/radio-circle.svg");  
}

.radio-default:checked+label {
  color: rgba($color: $dark-shade, $alpha: 0.75);
}


.arrow-down::after {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24" fill="rgba(31, 32, 65, 0.5)"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6 1.41-1.41z"/></svg>');
  content: '';
  background-repeat: no-repeat;
  background-position: center;
  box-sizing: content-box;
  display: inline-block;
  position: absolute;
  height: 24px;
  width: 24px;
  padding: 20px 20px 0 0;
  right: 0;
}

.arrow-forward::after {
  background-image: url('../img/arrows/arrow_forward-gradient-24dp.svg');
  content: '';
  background-repeat: no-repeat;
  background-position: center;
  box-sizing: content-box;
  display: inline-block;
  position: absolute;
  height: 24px;
  width: 24px;
  padding: 20px 20px 0 0;
  right: 0;
}

.text-field::placeholder {
  color: rgba($color: $dark-shade, $alpha: 0.25);
}

.text-field_focus::placeholder {
  color: rgba($color: $dark-shade, $alpha: 0.75);
}

.ui-kit-right-text {
  right: 0;
  position: absolute;
  text-align: right;
  text-transform: uppercase;
  color: rgba($color: $dark-shade, $alpha: 0.25);
}
