$dark-shade: rgba(31, 32, 65, 1);
$purple: #BC9CFF;

.iqdropdown {
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
}

.iqdropdown * {
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
}

.iqdropdown *::after, .iqdropdown *::before {
  box-sizing: inherit;
}

.iqdropdown *:not(input) {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.iqdropdown *:focus {
  outline: none;
}

.iqdropdown h1, .iqdropdown h2, .iqdropdown h3, .iqdropdown h4, .iqdropdown h5, .iqdropdown h6 {
  margin: 0;
}

.iqdropdown p {
  margin: 0;
}

.iqdropdown ul, .iqdropdown ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.iqdropdown a {
  cursor: pointer;
}

.iqdropdown button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  border: 0;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.iqdropdown select::-ms-expand {
  display: none;
}

.iqdropdown input::-ms-clear {
  display: none;
  height: 0;
  width: 0;
}

.iqdropdown .icon-decrement {
  display: inline-block;
  height: 15px;
  margin: auto;
  min-width: 15px;
  position: relative;
  width: 15px;
}

.iqdropdown .icon-decrement::after {
  background: rgba($color: $dark-shade, $alpha: 0.5);
  content: '';
  display: block;
  height: 1px;
  position: absolute;
  top: 6px;
  left: 5px;
  transition: -webkit-transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
  width: 5px;
}

.iqdropdown .icon-decrement.icon-increment::before {
  background: rgba($color: $dark-shade, $alpha: 0.5);
  content: '';
  display: block;
  height: 1px;
  position: absolute;
  top: 6px;
  left: 5px;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  transition: -webkit-transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
  width: 5px;
}

.iqdropdown .iqdropdown-menu {
  background-color: #FFFFFF;
  cursor: default;
  display: none;
  left: 0;
  margin: -2px -1px -1px;
  position: absolute;
  right: 0;
  top: 44px;
  transition: all 0.2s ease-in-out;
  z-index: 99999;
  border: 1px solid rgba($color: $dark-shade, $alpha: 0.5);
  box-sizing: border-box;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 10px 20px rgba($color: $dark-shade, $alpha: 0.05);

  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */

  text-transform: uppercase;

  /* Dark 100% */

  color: $dark-shade;
}

.iqdropdown .iqdropdown-menu-option {
  align-items: center;
  display: flex;
  height: 30px;
  padding: 0 7px 0 15px;
  margin: 7px 0;
}

.iqdropdown .iqdropdown-menu-option:last-child {
  border: 0;
}

.iqdropdown .iqdropdown-menu-close {
  color: #002674;
  //font-family: "OpenSans",sans-serif;
  // font-size: 14px;
  // font-weight: 600;
  height: 20px;
  margin: 20px 0;
  padding: 0 15px;
  text-align: right;
  width: 100%;
}

.iqdropdown.menu-open .iqdropdown-menu {
  display: block;
}

@media only screen and (max-width: 640px) {
  .iqdropdown .iqdropdown-menu.mobile-top-menu {
    top: -285px;
  }
}

.iqdropdown-content {
  flex: 1;
  padding-right: 10px;
}

// .iqdropdown-item { 
//   font-family: Montseratt;
//   font-size: 17px;
//   font-weight: 400;
// }


.iqdropdown .iqdropdown-item-controls {
  display: flex;  
  justify-content: space-between;
  align-items: center;
  width: 92px;
}

.iqdropdown .iqdropdown-item-controls .counter {
  color: $dark-shade;
  // font-family: "OpenSans",sans-serif;
  // font-size: 17px;
  // font-weight: 400;
  // border-bottom: 1px solid #E2E2E2;
  // border-top: 1px solid #E2E2E2;
}

.iqdropdown .iqdropdown-item-controls button {
  align-items: center;
  border: 1px solid rgba($color: $dark-shade, $alpha: 0.5);
  display: flex;
  height: 30px;
  width: 30px;
  transition: all 0.2s ease-in-out;
}

.iqdropdown .iqdropdown-item-controls button:hover {
  background-color: #eee;
}

.iqdropdown .iqdropdown-item-controls button.button-decrement {
  border-radius: 50%;
}

.iqdropdown .iqdropdown-item-controls button.button-increment {
  border-radius: 50%;
}

.iqdropdown {
  align-items: center;
  border: 1px solid #E2E2E2;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  height: 44px;
  justify-content: space-between;
  padding: 10px 15px;
  position: relative;
  margin: 5px 0px 20px 0px;
  width: 100%;

  font-family: Montserrat !important;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height, or 129% */


  /* Dark 75% */

  color: rgba($color: $dark-shade, $alpha: 0.75);
  
}

.iqdropdown .iqdropdown-selection {
  // color: #4A4A4A;
  // font-family: "OpenSans",sans-serif;
  // font-size: 17px;
  // font-weight: 400;
  flex: 1;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.iqdropdown .iqdropdown-selection::after {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24" fill="rgba(31, 32, 65, 0.5)"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6 1.41-1.41z"/></svg>');
  content: '';
  height: 24px;
  width: 24px;
}

.iqdropdown.menu-open {
  border-radius: 4px 4px 0 0;
  border: 1px solid rgba($color: $dark-shade, $alpha: 0.5);
  margin-bottom: 180px;
}

.iqdropdown.menu-open .iqdropdown-selection::after {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24" fill="rgba(31, 32, 65, 0.75)"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6 1.41-1.41z"/></svg>');
}

.iqdropdown-menu-last-row {
  display: flex;
  justify-content: space-between;
  margin: 20px 7px 13px 15px;
}

.iqdropdown-menu-clear-btn {
  color: $purple;
  visibility: hidden;
}

.iqdropdown-menu-clear-btn .visible{
  visibility: visible;
}

.visible {
  visibility: visible;
}

.iqdropdown-menu-submit-btn {
  color: $purple;
}