mixin textField(options)
  -
    var textFieldName = "name"
    var textFieldPleceHolder = "placeholder"
    var textFieldTitle = "title"
    var textFieldClass = "class"
    var test = "test"
  .input-wrapper
    h3
      label(for= options.name)= options.title
      if test
        span(class="ui-kit-right-text")= options.test
    input(type="text", name= options.name, placeholder= options.placeholder class="text-field", class= options.class)
  