extends ../layouts/main
block variables
  - var pageTitle = 'Form Elements'

include ../utils/form-elements-mixins

block content
  div.logo-wrapper 
    span.logo
  .form-elements-wrapper
    .column-320
      +textField({title: "text field", name: "text-field-default", placeholder: "Email", test: "DEFAULT"})
      +textField({title: "text field", name: "text-field-focus", placeholder: "This is pretty awesome", class:"text-field_focus", test: "Hover / Focus"})
      +dropDownGuests({title: "dropdown", test: "DEFAULT"})
      +textField({title: "masked text field", name: "text-field-default", placeholder: "ДД.ММ.ГГГГ", test: "DEFAULT"})
      .input-row
        +dateDropdown150({title: "date dropdown", name: "date-dropdown-150", placeholder: "ДД.ММ.ГГГГ"})
        +dateDropdown150({title: "date dropdown", name: "date-dropdown-150", placeholder: "ДД.ММ.ГГГГ"})
      +filterDateDropdown({title: "filter date dropdown", name: "filter-date-dropdown", placeholder: "19 авг - 23 авг"})
      input(type='text'  data-position="right top")        
    .column-320
      +textField({title: "text-field", name: "text-field-default", placeholder: "Email"})
      +textField({title: "text-field", name: "text-field-focus", placeholder: "This is pretty awesome", class:"text-field_focus"})
    .column-320
      +textField({title: "text-field", name: "text-field-default", placeholder: "Email"})
      +textField({title: "text-field", name: "text-field-focus", placeholder: "This is pretty awesome", class:"text-field_focus"})
  