extends ../layouts/main
block variables
  - var pageTitle = 'Form Elements'

include ../utils/form-elements-mixins

block content
  div.logo-wrapper 
    span.logo
  .form-elements-wrapper
    .column-320
      +textField({title: "text field", name: "text-field-default", placeholder: "Email", test: "DEFAULT"})
      +textField({title: "text field", name: "text-field-focus", placeholder: "This is pretty awesome", class:"text-field_focus", test: "Hover / Focus"})
      +dropDownGuests({title: "dropdown", test: "DEFAULT"})
      +textField({title: "masked text field", name: "text-field-default", placeholder: "ДД.ММ.ГГГГ", test: "DEFAULT"})
      .input-row.input-row-between
        +dateDropdown150({title: "date dropdown", name: "date-dropdown-150", placeholder: "ДД.ММ.ГГГГ"})
        +dateDropdown150({title: "date dropdown", name: "date-dropdown-150", placeholder: "ДД.ММ.ГГГГ"})
      +filterDateDropdown({title: "filter date dropdown", name: "filter-date-dropdown", placeholder: "19 авг - 23 авг"})
      +subscriptionTextField({title: "subscription text field", name: "subscription-text-field", placeholder: "Email"})
      
    .column-320
      .column-260
        h3.head-margin Checkbox buttons
        +checkboxButton({title: "Можно курить", name: "checkbox", id: "checkbox-1"})
        +checkboxButton({title: "Можно с питомцами", name: "checkbox", id: "checkbox-2"})
        +checkboxButton({title: "Можно пригласить гостей (до 10 человек)", name: "checkbox", id: "checkbox-3"})
        h3.head-margin-top.head-margin Radio buttons
        .input-row
          +radioButton({title: "Мужчина", name: "radio", id: "radio-1"})
          +radioButton({title: "Женщина", name: "radio", id: "radio-2"})
        h3.head-margin-top.head-margin Toggle
        +toggleSwitch({title: "Получать спецпредложения", name: "toggle", id: "toggle-1"})
        +toggleSwitch({title: "Получать спецпредложения", name: "toggle", id: "toggle-2", checked: "checked"})
        h3.head-margin-top.head-margin Like button
        .input-row.toggle-wrapper
          +likeButton({name: "like", id: "like-1", count: "2"})
          +likeButton({name: "like", id: "like-2", count: "12"})
        h3.head-margin-top.head-margin Rate button
        .input-row
          .rate-wrapper
            span.rate-button.rate-button__checked 
            span.rate-button.rate-button__checked 
            span.rate-button.rate-button__checked 
            span.rate-button.rate-button__checked 
            span.rate-button.
          .rate-wrapper
            span.rate-button.rate-button__checked 
            span.rate-button.rate-button__checked 
            span.rate-button.rate-button__checked 
            span.rate-button.rate-button__checked 
            span.rate-button.rate-button__checked
    .column-320
      h3.head-margin Range slider
      .input-row 
        .noUi-target.noUi-ltr.noUi-horizontal.noUi-txt-dir-ltr#slider-handles
      h3.head-margin-top.head-margin Buttons 
      .input-row
        button.button-gradient Click me
        button.button-gradient.button-gradient__disable Click me
      .input-row
        button.button-gradient.button-gradient-no-fill Click me
        button.button-gradient.button-gradient-no-fill.button-gradient__disable Click me
      .input-row
        button.button-text Click me
        button.button-text.button-text__disable Click me
      .input-row
        button.button-gradient.button-gradient-arrow Перейти к оплате
      h3.head-margin Pagination
      .pagination-wrapper
        .pagination-page 1
        .pagination-page 2
        .pagination-page 3
        .pagination-page ... 
        .pagination-page 15
        .pagination-page
      .pagination-wrapper.pagination-wrapper-text
        p 1 – 12 из 100+ вариантов аренды
  .form-elements-wrapper
    .column-320
      .column-260
        +dropDownGuests({title: "dropdown", test: "DEFAULT"})
        +dropDownGuests({title: "dropdown", test: "DEFAULT"})        
        +dropDownRooms({title: "dropdown", test: "DEFAULT"})
        +dropDownRooms({title: "dropdown", test: "EXPANDED", open: "menu-open"})

        +checkboxButton({title: "Можно курить", name: "checkbox", id: "checkbox-1"})
        +checkboxButton({title: "Можно с питомцами", name: "checkbox", id: "checkbox-2"})
        +checkboxButton({title: "Можно пригласить гостей (до 10 человек)", name: "checkbox", id: "checkbox-3"})
    .column-320
      +dropDownGuests({title: "dropdown", test: "DEFAULT"})
    .column-320
      +dropDownGuests({title: "dropdown", test: "DEFAULT"})