extends ../layouts/main
block variables
  - var pageTitle = 'Form Elements'

include ../utils/form-elements-mixins

block content
  div.logo-wrapper 
    span.logo
  .form-elements-wrapper
    .column-320
      +textField({title: "text-field", name: "text-field-default", placeholder: "Email"})
      +textField({title: "text-field", name: "text-field-focus", placeholder: "This is pretty awesome", class:"text-field_focus"})
    .column-320
      +textField({title: "text-field", name: "text-field-default", placeholder: "Email"})
      +textField({title: "text-field", name: "text-field-focus", placeholder: "This is pretty awesome", class:"text-field_focus"})
    .column-320
      +textField({title: "text-field", name: "text-field-default", placeholder: "Email"})
      +textField({title: "text-field", name: "text-field-focus", placeholder: "This is pretty awesome", class:"text-field_focus"})
  