extends ../layouts/main
block variables
  - var pageTitle = 'Form Elements'

include ../utils/form-elements-mixins

block content
  div.logo-wrapper 
    span.logo
  .form-elements-wrapper
    .column-320
      +textField({title: "text field", name: "text-field-default", placeholder: "Email", test: "DEFAULT"})
      +textField({title: "text field", name: "text-field-focus", placeholder: "This is pretty awesome", class:"text-field_focus", test: "Hover / Focus"})
      +dropDownGuests({title: "dropdown", test: "DEFAULT"})
      +textField({title: "masked text field", name: "text-field-default", placeholder: "ДД.ММ.ГГГГ", test: "DEFAULT"})
      .input-row
        +dateDropdown150({title: "date dropdown", name: "date-dropdown-150", placeholder: "ДД.ММ.ГГГГ"})
        +dateDropdown150({title: "date dropdown", name: "date-dropdown-150", placeholder: "ДД.ММ.ГГГГ"})
      +filterDateDropdown({title: "filter date dropdown", name: "filter-date-dropdown", placeholder: "19 авг - 23 авг"})
      +subscriptionTextField({title: "subscription text field", name: "subscription-text-field", placeholder: "Email"})
      
    .column-320
      h3.head-margin Checkbox buttons
      +checkboxButton({title: "Можно курить", name: "checkbox", id: "checkbox-1"})
      +checkboxButton({title: "Можно с питомцами", name: "checkbox", id: "checkbox-2"})
      +checkboxButton({title: "Можно пригласить гостей (до 10 человек)", name: "checkbox", id: "checkbox-3"})
      h3.head-margin-top.head-margin Radio buttons
      .input-row
        +radioButton({title: "Мужчина", name: "radio", id: "radio-1"})
        +radioButton({title: "Женщина", name: "radio", id: "radio-2"})
      h3.head-margin-top.head-margin Toggle
      +toggleSwitch({title: "Получать спецпредложения", name: "toggle", id: "toggle-1"})
      +toggleSwitch({title: "Получать спецпредложения", name: "toggle", id: "toggle-2", checked: "checked"})
    .column-320
      +textField({title: "text-field", name: "text-field-default", placeholder: "Email"})
      +textField({title: "text-field", name: "text-field-focus", placeholder: "This is pretty awesome", class:"text-field_focus"})
  