extends ../layouts/main
block variables
  - var pageTitle = 'Index page'  

block content
  a(href="colors.html") colors
  a(href="form-elements.html") form-elements
  a(href="cards.html") cards
  .iqdropdown
    p.iqdropdown-selection(data-seletion-text="Сколько гостей")
    .iqdropdown-menu
      .iqdropdown-menu-option(data-id='item1')
        div
          p.iqdropdown-item Взрослые
      .iqdropdown-menu-option(data-id='item2')
        div
          p.iqdropdown-item Дети
      .iqdropdown-menu-option(data-id='item3')
        div
          p.iqdropdown-item Младенцы


block scripts