<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Test Pug
  body
    header.header
      h1 Hello Pug
      h2 New h2tag
      p Hello Tanya!
    nav.menu
      .menu__wrapper
        ul.menu__list
          li.menu__list-item hell1
          li.menu__list-item hello
          li.menu__list-item hello
          li.menu__list-item hello
          li.menu__list-item hello